<div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 card card-block">
  <h2>Sign in</h2>
  <%= simple_form_for(resource, as: resource_name,
                                url: session_path(resource_name),
                                wrapper_mappings: { boolean: :vertical_boolean }) do |f| %>
      <%= f.input :email, label: false do %>
        <div class="input-group">
          <%= f.input_field :email, class: "form-control", placeholder: "Email" %>
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
        </div>
      <% end %>
      <%= f.input :password, label: false do %>
        <div class="input-group">
          <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        </div>
      <% end %>
      <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true if devise_mapping.rememberable? %>
      <%= f.button :submit, "Sign in", class: "btn-primary btn-block btn-lg" %>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>
